*.asv
*.mat
*.ppt
*.pptx
*.xls
*.xlsx
*.csv
*.txt
*.gitignore
*.jpg
*.png
*.fig
*.ang
*.sang
*.sqlite
*.tmp
*.ang.old
*.zip
*.name
*.container
*.jsdtscope
*.project
*.apa
*-1140
*.xml
*.svg
*.cxx
*.vcxproj
*.user
*.pyc
*.dll
*.sln
*.lib
*.class
*.bat
*.jar
*.iml
*.lst
*.conf
*.gitignore
notepad_session